*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    text-transform: uppercase;
}
nav{
    background-color: red;
}
img{
    width: 80%;
}
.one{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.two{
    padding-left: 1rem;
    padding-top: 1rem;
}
.topnews{
    padding-left: 1rem;
    font-size: x-large;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    color: red;
}
.submain{
    display: flex;
}
.image{
    width: 50%;
    box-shadow: 10px 10px 10px;
}
nav{
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 10px 10px 10px;
}
.topnews{
    text-shadow: 10px 10px 10px;
}
a:hover{
    background-color: white;
}
li{
    font-size: large;
    font-weight: bold;
    text-shadow: 8px 5px 8px;
    text-decoration: none;
}
li:hover{
    background-color: white;
    box-shadow: 10px 10px 10px;
}
.details{
    text-shadow: 15px 15px 15px;
}
img{
    box-shadow: 20px 20px 20px black;
    border-radius: 2em;
}