*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    text-transform: uppercase;
}
nav{
    background-color: red;
}
img{
    width: 50%;
}
.image{
    width: 50%;
}
